* {
  padding: 0;
  margin: 0;
}

/* html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
font,
img,
b,
u,
i,
dl,
dt,
dd,
ol,
li,
ul {
  border-style: none;
  border-color: inherit;
  border-width: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}  */

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* --------------- font family goes here --------------- */

/* --------------- remove apple's default styling --------------- */
input[type="text"] {
  border-radius: 0;
  /* padding:1px 0 1px 2px; */
  -webkit-appearance: none;
}

input[type="button"],
input[type="submit"],
textarea {
  border-radius: 0;
  -webkit-appearance: none;
}

/* --------------- common input style --------------- */
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  border: 1px solid #eee;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul.navbar-nav.mr-auto {
  margin: auto;
}

.contact-details {
  display: flex;
  padding-right: 25px;
}

.main-content {
  margin-bottom: 176px;
  margin-left: -9%;
}

.main .container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

#learning .row {
  margin-top: 45px;
}

#work .work-list {
  display: inline-flex;
}

.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}

#qualities {
  background-image: url(../img/what\ people\ choose.png);
  background-color: #09095e;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-width: 100%;
  min-height: 450px;
}

h1.title {
  font-size: 40px;
  color: #ffff;
}

p.description {
  font-size: 22px;
  color: #ffff;
}

.sub-content {
  display: inline-flex;
  color: #fff;
}

.sub-content h4 {
  font-size: 21px;
}

.question-area {
  margin-top: -85px;
  color: #000;
  display: inline-flex;
  /* background: #fff; */
  width: 100%;
  background: #fff;
  padding-top: 25px;
}

.row.tuto {
  margin-top: 139px;
}

#footer {
  background-image: url(../img/main_banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 400px;
}

.footer-right {
  display: inline-flex;
}

form.form-inline.my-2.my-lg-0 {
  display: inline-flex;
}

/* -----------------------------------------------NAV BAR------------------------------------------------------- */
.navbar-brand img {
  width: 86px;
}

ul.navbar-nav {
  padding-left: 59px;
  font-size: 13px;
  font-weight: 600;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
  padding-left: 85px;
}

a.nav-link {
  color: #163dac !important;
  font-size: 14px;
}

.contact-details img {
  width: 34px;
  height: auto;
}

.contact-details {
  display: flex;
  padding-right: 16px;
}
.contact-no {
  padding-left: 6px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
}
.contact-no p {
  margin-bottom: 0;
}
button.btn.btn-outline-success {
  background: #163dac;
  color: #ffff;
  text-transform: uppercase;
  font-weight: 500;
  width: 136px;
  height: 40px;
  border-radius: 0;
}

/* ----------------------------------------------------CAROUSEL------------------------------------------------------ */

.top_slider {
  background-image: url(../img/main_banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 962px;
}

.carousel-item img {
  height: 836px;
  width: auto;
  float: right;
}

.carousel-caption {
  text-align: left;
  position: relative;
  top: 12vw;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  left: 0;
  width: 60%;
}

.carousel-item h6 {
  font-size: 25px;
  color: #112f82;
  font-weight: 400;
}

.carousel-item h1 {
  font-size: 76.29px;
  font-weight: 700;
  color: #112f82;
  line-height: 1.1;
  text-transform: capitalize;
}

.carousel-item p {
  color: #112f82;
  font-size: 39.06px;
}

/* ----------------------------------------------------CARD SECTION------------------------------------------------------ */
.card-item .card-set {
  margin-top: -126px;
}
.card-item .card {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 52px 18px;
}
.card-item .card1 {
  background-color: #009dcd;
}
.card-item .card2 {
  background-color: #0095c3;
}
.card-item .card3 {
  background-color: #008cb8;
}
.card-item .card-title {
  color: #fff;
  font-size: 31.25px;
  line-height: 38.09px;
  margin-bottom: 25px;
}
.card-item .card-text {
  font-size: 20px;
  line-height: 24.38px;
  color: #fff;
}

/* ----------------------------------------------------Learning-stream section start------------------------------------------------------ */
.learning {
  margin-top: 80px;
}
.learning-heading {
  margin-bottom: 60px;
}
.learning-heading h4 {
  color: #112f82;
  font-size: 20px;
  line-height: 24.38px;
}
.learning-heading h2 {
  font-size: 31.25px;
  line-height: 38.09px;
  color: #112f82;
  font-weight: bold;
}
#borderLeft {
  border-bottom: 5px solid #173ead;
  width: 286px;
  margin: auto;
}
.learning-content {
  background-color: #0c1f56;
  padding: 28px 7px 5px;
  align-items: flex-end;
  color: #fff;
}
.learning-content h2 {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 38px;
  text-transform: capitalize;
}
.learning-content span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
}
.sub-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #000000;
}
/* ----------------------------------------------------work section start------------------------------------------------------ */
.work {
  margin-top: 50px;
}
.work-details h4 {
  font-size: 20px;
  line-height: 24.38px;
  color: #112f82;
}
.work-details h2 {
  font-weight: bold;
  font-size: 31.25px;
  line-height: 38.09px;
  color: #112f82;
}
.work-details p {
  font-size: 20px;
  line-height: 24.38px;
  color: #000;
}
.ind_title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24.38px;
}
.work-list .fa {
  width: 35px;
  height: 26px;
  font-size: 25px;
}
/* ----------------------------------------------------Mobile Resposive------------------------------------------------------ */
@media screen and (max-width: 567px) {
  .card-item .card {
    width: 100%;
    text-align: center;
  }
}
